<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventory.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inventory.Properties.Settings.NewInvModConnectionString"
            connectionString="Data Source=Amila;Initial Catalog=NewInvMod;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.TestConnectionString"
            connectionString="Data Source=ONIMTALAP-PC;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Settings.NewInvModConnectionString" connectionString="Data Source=Amila;Initial Catalog=NewInvMod;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Settings.TestConnectionString" connectionString="Data Source=ONIMTALAP-PC;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Inventory.Properties.Settings.SuperMarket_Sinhala_NewConnectionString"
            connectionString="Data Source=SOFT_HASITHAPC;Initial Catalog=SuperMarket_Sinhala_New;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Inventory.Settings>
            <setting name="Back_Image" serializeAs="String">
                <value />
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CodeGenOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProdCodeLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="NoOfTerminal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>D:\Sql Databasess\Backup\</value>
            </setting>
            <setting name="Shinghala" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GRNCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GRNSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRNCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRNSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SRNCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SRNSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ss" serializeAs="String">
                <value />
            </setting>
        </Inventory.Settings>
        <Inventory.Properties.Settings>
            <setting name="Back_Image" serializeAs="String">
                <value />
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="NoOfTerminal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>D:\Sql Databasess\Backup\</value>
            </setting>
            <setting name="Shinghala" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GRNCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GRNSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRNCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRNSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SRNCostEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SRNSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="INVSellingEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CURSellingEdit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SIP_St_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StaticIp" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="TrInCon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvAllowReduce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrnAllowReduce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecAmtFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvLineDisc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvSbttDisc_Manual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CashDrawerOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Margin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VatPrecentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VatAllow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PosPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="NorPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="ComNo" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoGenCustCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeLength" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ProdImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CRMMSg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProdCodeLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CodeGen" serializeAs="String">
                <value>Non</value>
            </setting>
            <setting name="InvCashType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFileServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFromServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowCreditbill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CRM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GIFT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OtherCharge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VatBill" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintShadow" serializeAs="String">
                <value>True</value>
            </setting>
        </Inventory.Properties.Settings>
    </userSettings>
</configuration>